@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue Mono", "Helvetica Neue", "SF Pro Text",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", monospace, sans-serif;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #f5f5f0;
  background-color: #131209;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
