@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #5d75e0;
  background-color: #eaeaea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body > *:not(style):not([class*="cursor"]) {
  position: relative;
  z-index: 1;
}

/* Hide default cursor on desktop only */
@media (hover: hover) and (pointer: fine) {
  body,
  * {
    cursor: none !important;
  }
}
